h1{
	color: blue;
	background-color: Yellow;
}

h2{
	color: red;
}

z{
	font-size: 25px;
	background-color: #0fd4f7;
}

li{
	list-style: none;
	float: left;
	padding: 33px 20px;
}

.H-log {
	padding: 20px 40px;
	float: left;
	font-size: 36px;
}

.H {
	background-color: #26d0c9;
	color: #fff;
	height: 90px;
}

img{
	width:300px;
	height:200px;
}

p{
	font-family:arial;
}
